<div class="row" *ngIf="state.state">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
          #txtPassword
        />
      </div>
      <div
        class="error-text"
        *ngIf="component.password.errors?.pattern && component.password.touched"
      >
        Password must be consist of uppercase, special characters and numbers
      </div>
      <div
        class="error-text"
        *ngIf="
          component.password.errors?.required && component.password.touched
        "
      >
        Please enter a password
      </div>
      <div
        class="error-text"
        *ngIf="
          component.password.errors?.minlength && component.password.touched
        "
      >
        Password must be at least 6 characters
      </div>
      <div class="mb-3">
        <label for="passwordConfirm" class="form-label">Password Confirm</label>
        <input
          type="password"
          class="form-control"
          formControlName="passwordConfirm"
          placeholder="Password Confirm"
          #txtPasswordConfirm
        />
      </div>

      <button type="button" style="margin-top: 5px" class="btn btn-primary">
        Şifreyi Güncelle
      </button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!state.state">
  The link is not working.
</div>
