<div class="row">
  <div class="card" style="width: 18rem" *ngFor="let product of products">
    <img
      src="../../../../../assets/default-product-image.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">
        <b>{{ product.name }}</b>
      </h5>
      <p class="card-text"><b>Price:</b> {{ product.price | currency }}</p>
      <a href="#" class="btn btn-success">Add to Cart</a>
    </div>
  </div>
</div>
<div class="row pagination-nav">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPageNo == 1">
        <a class="page-link" href="#" [routerLink]="['/products', 1]"
          >First Page</a
        >
      </li>
      <li class="page-item" [class.disabled]="currentPageNo == 1">
        <a
          class="page-link"
          href="#"
          [routerLink]="['/products', currentPageNo - 1]"
          >Previous</a
        >
      </li>

      <li class="page-item" *ngFor="let pageNo of pageList">
        <a class="page-link" href="#" [routerLink]="['/products', pageNo]">{{
          pageNo
        }}</a>
      </li>

      <li class="page-item" [class.disabled]="currentPageNo == totalPageCount">
        <a
          class="page-link"
          href="#"
          [routerLink]="['/products', currentPageNo + 1]"
          >Next</a
        >
      </li>
      <li class="page-item" [class.disabled]="currentPageNo == totalPageCount">
        <a
          class="page-link"
          href="#"
          [routerLink]="['/products', totalPageCount]"
          >Last Page</a
        >
      </li>
    </ul>
  </nav>
</div>
