.card {
  float: left;
  margin-left: 5px;
  border-color: green;
}
.card-title {
  color: rgb(47, 144, 209);
  font-size: large;
  font-style: oblique;
}
.pagination-nav {
  margin-top: 15px;
  margin-left: -17px;
  border-color: green;
}
.page-info {
  color: rgb(28, 41, 223);
  font-style: italic;
}
.search {
  margin-top: 15px;
}
