.card {
  margin-top: 10px;
  float: left;
  margin-left: 5px;
}
.card-title {
  color: rgb(47, 144, 209);
  font-size: large;
  font-style: oblique;
}
.pagination-nav {
  margin-top: 15px;
  margin-left: -17px;
}
