<div class="input-group mb-3 search">
  <input
    type="text"
    class="form-control"
    name="textFilter"
    [(ngModel)]="textFilter"
    placeholder="Search Product"
    aria-label="Product"
    aria-describedby="basic-addon1"
    (ngModelChange)="getFilteredProducts(textFilter)"
  />
</div>
<div *ngIf="products">
  <div class="row">
    <div class="card" style="width: 18rem" *ngFor="let product of products">
      <img
        width="300"
        height="300"
        *ngIf="!product.imagePath"
        src="../../../../../assets/default-product-image.png"
        class="card-img-top"
        alt="..."
      />
      <img
        width="300"
        height="300"
        *ngIf="product.imagePath"
        src="{{ this.baseStorageUrl['url'] }}/{{ product.imagePath }}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">
          <b>{{ product.name }}</b>
        </h5>
        <p class="card-text"><b>Price:</b> {{ product.price | currency }}</p>
        <a class="btn btn-success" (click)="addToCart(product)">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row pagination-nav">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPageNo == 1">
              <a class="page-link" href="#" [routerLink]="['/products', 1]"
                >First Page</a
              >
            </li>
            <li class="page-item" [class.disabled]="currentPageNo == 1">
              <a
                class="page-link"
                href="#"
                [routerLink]="['/products', currentPageNo - 1]"
                >Previous</a
              >
            </li>

            <li
              class="page-item"
              *ngFor="let pageNo of pageList"
              routerLinkActive="active"
            >
              <a
                class="page-link"
                href="#"
                [routerLink]="['/products', pageNo]"
                >{{ pageNo }}</a
              >
            </li>

            <li
              class="page-item"
              [class.disabled]="currentPageNo == totalPageCount"
            >
              <a
                class="page-link"
                href="#"
                [routerLink]="['/products', currentPageNo + 1]"
                >Next</a
              >
            </li>
            <li
              class="page-item"
              [class.disabled]="currentPageNo == totalPageCount"
            >
              <a
                class="page-link"
                href="#"
                [routerLink]="['/products', totalPageCount]"
                >Last Page</a
              >
            </li>

            <li class="page-link page-info">
              {{ currentPageNo }} / {{ totalPageCount }}
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
