.product-create {
  width: 98%;
  height: 400;
  margin: 10px;
  border: 1px solid #555;
}
.scan-btn {
  margin-left: 10px;
  margin-top: 7.5px;
  margin-bottom: 5px;
}
.scan-qr-icon {
  height: 40px;
  margin: 5px;
}
