<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="mb-3">
      <label style="margin-top: 10px" for="email" class="form-label"
        ><strong>Email address</strong></label
      >
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        #txtEmail
      />
      <p style="color: rgb(0, 119, 255); font-style: italic">
        Please enter your e-mail address in the system to refresh your password
        and send it to us!
      </p>
      <button
        type="button"
        style="margin-top: 5px"
        class="btn btn-primary"
        (click)="resetPassword(txtEmail.value)"
      >
        Send
      </button>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
