:host {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  animation: custom-dialog-enter 1s ease;
}
.product-image-card {
  width: 250px;
  float: left;
  margin: 5px;
}

.product-image-header-image {
  background-size: cover;
}
.showcase {
  margin-left: 15px;
}
